<div container="container">
    <h1>Usuarios en tiempo real</h1>
    <div class="content">
        <div class="users">
            <h2>Usuarios</h2>
            <ul id="users-list">
                {{!-- lista de usuarios --}}
            </ul>
        </div>
        <div>
            <h2>Registro</h2>
            <form id="register-form">
                <input type="text" id="name" placeholder="Nombre">
                <input type="text" id="lastName" placeholder="Apellido">
                <input type="email" id="email" placeholder="Correo">
                <input type="password" id="password" placeholder="Contraseña">
                <button type="submit">Registrar</button>
            </form>
        </div>
    </div>
</div>